<% @title="Collection " %>
<div style="background-color:#3D3D3D;font-size:16px;text-align:left;font-family:helvetica, sans-serif;line-height:1;margin:1px;margin:1px; padding-top:5%;padding-bottom:5%;">
<div class="row text-center">
  <div class="col-md-4"><a href="#" data-toggle="modal" data-target="#bamboo" data-toggle="tooltip" title="Bamboo Silk Collection"><%= image_tag("bamboo.jpg",:size => "200x300",:alt => "Bamboo Silk Collection")%></a>
  <a href="#" data-toggle="modal" data-target="#flatweavecollection" data-toggle="tooltip" title="Flat Weave Collection"><%= image_tag("flat.jpg",:size => "200x300",:alt => "Flat Weave Collection")%></a>
  <a href="#" data-toggle="modal" data-target="#mirabella" data-toggle="tooltip" title="Mirabella Collection" ><%= image_tag("mirabela.jpg",:size => "200x300",:alt => "Mirabella Collection")%></a>
</div>
</div>
<br>
<div class="row text-center">
  <div class="col-md-6">
<a href="#" data-toggle="modal" data-target="#modern" data-toggle="tooltip" title="Modern Collection" ><%= image_tag("modern.jpg",:size => "200x300",:alt => "Modern Collection")%></a>
  <a href="#" data-toggle="modal" data-target="#silk" data-toggle="tooltip" title="Silk Flower Collection" ><%= image_tag("silk.JPG",:size => "200x300",:alt => "Silk Flower Collection")%></a>
</div>
</div>
<!------------------------------------------------------MODEL ------------------------------------------------------------------------->
<!------------------------------------------------------BAMBOO------------------------------------------------------------------------->

<div class="modal fade" id="bamboo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content " style="background-color:#3D3D3D;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Bamboo Silk Collection</h4>
      </div>
      <div class="modal-body">
      <!------------------------------------------------SLIDER---------------------------------------------------------->

<div class="panel">
<div id="myCarousel1" class="carousel slide marketing" data-ride="carousel">
<!-- Wrapper for slides -->
<div class="carousel-inner">
<div class="item active">
<%= image_tag("SWL-8 (D. BLUE).jpg") %>
<div class="carousel-caption">
SWL-8 (D. BLUE)
</div>
</div>
<div class="item">
<%= image_tag("WL-1 (BLUE).jpg") %>
<div class="carousel-caption">
WL-1 (BLUE)
</div>
</div>
<div class="item">
<%= image_tag("WL-1 (CAMEL).jpg") %>
<div class="carousel-caption">
WL-1 (CAMEL)
</div>
</div>
<div class="item">
<%= image_tag("SWL-7 (BROWN).jpg") %>
<div class="carousel-caption">
SWL-7 (BROWN)
</div>
</div>
<div class="item">
<%= image_tag("SWL-3 (RED).jpg") %>
<div class="carousel-caption">
SWL-3 (RED)
</div>
</div>
<div class="item">
<%= image_tag("SWL-2 (MD. BLUE).jpg") %>
<div class="carousel-caption">
SWL-2 (MD. BLUE)
</div>
</div>
<div class="item">
<%= image_tag("SWL-1 (IVORY).jpg") %>
<div class="carousel-caption">
SWL-1 (IVORY)
</div>
</div>
<div class="item">
<%= image_tag("SWL-1D (RED).jpg") %>
<div class="carousel-caption">
SWL-1D (RED)
</div>
</div>
<div class="item">
<%= image_tag("SWL-1B (BLACK).jpg") %>
<div class="carousel-caption">
SWL-1B (BLACK)
</div>
</div>
<div class="item">
<%= image_tag("JN-2 (BEIGE).jpg") %>
<div class="carousel-caption">
JN-2 (BEIGE)
</div>
</div>
<div class="item">
<%= image_tag("JN-1 (GREY).jpg") %>
<div class="carousel-caption">
JN-1 (GREY)
</div>
</div>
<div class="item">
<%= image_tag("BS-5 (RED).jpg") %>
<div class="carousel-caption">
BS-5 (RED)
</div>
</div>
<div class="item">
<%= image_tag("BS-5 (LT. BLUE).jpg") %>
<div class="carousel-caption">
BS-5 (LT. BLUE)
</div>
</div>
<div class="item">
<%= image_tag("BS-5 (IVORY).jpg") %>
<div class="carousel-caption">
BS-5 (IVORY)
</div>
</div>
<div class="item">
<%= image_tag("BS-5 (GREY-BROWN).jpg") %>
<div class="carousel-caption">
BS-5 (GREY-BROWN)
</div>
</div>
<div class="item">
<%= image_tag("BS-5 (GREY).jpg") %>
<div class="carousel-caption">
BS-5 (GREY).jpg
</div>
</div>
<div class="item">
<%= image_tag("BS-3 (GREY).jpg") %>
<div class="carousel-caption">
BS-3 (GREY)
</div>
</div>
<div class="item">
<%= image_tag("BS-1 (CAMEL-LT. BLUE).jpg") %>
<div class="carousel-caption">
BS-1 (CAMEL-LT. BLUE)
</div>
</div>
</div>
<!-- Controls -->
<a class="left carousel-control" href="#myCarousel1" data-slide="prev">
<span class="icon-prev"></span>
</a>
<a class="right carousel-control" href="#myCarousel1" data-slide="next">
<span class="icon-next"></span>
</a>
</div>
</div>

      <!-------------------------------------------------/SLIDER------------------------------------------------------>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<!------------------------------------------------------flatweave------------------------------------------------------------------------->

<div class="modal fade" id="flatweavecollection" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content " style="background-color:#3D3D3D;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Flat Weave Collection</h4>
      </div>
      <div class="modal-body">
      <!------------------------------------------------SLIDER---------------------------------------------------------->

<div class="panel">
<div id="myCarousel2" class="carousel slide marketing" data-ride="carousel">
<!-- Wrapper for slides -->
<div class="carousel-inner">
<div class="item active">
<%= image_tag("IMG_4223-1.jpg") %>
<div class="carousel-caption">
Name Tag
</div>
</div>
<div class="item">
<%= image_tag("IMG_4224-1.jpg") %>
<div class="carousel-caption">
Name Tag
</div>
</div>
<div class="item">
<%= image_tag("IMG_4227-1.jpg") %>
<div class="carousel-caption">
Some Tag
</div>
</div>
<div class="item">
<%= image_tag("IMG_4229-1.jpg") %>
<div class="carousel-caption">
Some Tag
</div>
</div>
<div class="item">
<%= image_tag("IMG_4230-1.jpg") %>
<div class="carousel-caption">
Some Tag
</div>
</div>
<div class="item">
<%= image_tag("IMG_4233-1.jpg") %>
<div class="carousel-caption">
Some Tag
</div>
</div>
<div class="item">
<%= image_tag("IMG_4235-1.jpg") %>
<div class="carousel-caption">
Some Tag
</div>
</div>
<div class="item">
<%= image_tag("IMG_4236-1.jpg") %>
<div class="carousel-caption">
Some Tag
</div>
</div>
</div>
</div>
<!-- Controls -->
<a class="left carousel-control" href="#myCarousel2" data-slide="prev">
<span class="icon-prev"></span>
</a>
<a class="right carousel-control" href="#myCarousel2" data-slide="next">
<span class="icon-next"></span>
</a>
</div>
</div>

      <!-------------------------------------------------/SLIDER------------------------------------------------------>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-------------------------------------------------------Mirabella------------------------------------------------>


<div class="modal fade" id="mirabella" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content " style="background-color:#3D3D3D;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Miravella Collections</h4>
      </div>
      <div class="modal-body">
      <!------------------------------------------------SLIDER---------------------------------------------------------->

<div class="panel">
<div id="myCarousel3" class="carousel slide marketing" data-ride="carousel">
<!-- Wrapper for slides -->
<div class="carousel-inner">
<div class="item active">
<%= image_tag("MB-301 (BEIGE-ORANGE).jpg") %>
<div class="carousel-caption">
MB-301 (BEIGE-ORANGE)
</div>
</div>
<div class="item">
<%= image_tag("MB-301 (BEIGE-SILVER).jpg") %>
<div class="carousel-caption">
MB-301 (BEIGE-SILVER)
</div>
</div>
<div class="item">
<%= image_tag("MB-302(IVORY-ROSE).jpg") %>
<div class="carousel-caption">
MB-302(IVORY-ROSE)
</div>
</div>
<div class="item">
<%= image_tag("MB-303 (BEIGE-BLUE).jpg") %>
<div class="carousel-caption">
MB-303 (BEIGE-BLUE)
</div>
</div>
<div class="item">
<%= image_tag("MB-303 (BEIGE-GREY).jpg") %>
<div class="carousel-caption">
MB-303 (BEIGE-GREY)
</div>
</div>
<div class="item">
<%= image_tag("MB-303 (GREEN-ORANGE).jpg") %>
<div class="carousel-caption">
MB-303 (GREEN-ORANGE)
</div>
</div>
<div class="item">
<%= image_tag("MB-304 (BEIGE-GREEN).jpg") %>
<div class="carousel-caption">
MB-304 (BEIGE-GREEN)
</div>
</div>
<div class="item">
<%= image_tag("MB-304 (BEIGE-TURQUOISE).jpg") %>
<div class="carousel-caption">
MB-304 (BEIGE-TURQUOISE)
</div>
</div>
<div class="item">
<%= image_tag("MB-304 (GREY-SILVER).jpg") %>
<div class="carousel-caption">
MB-304 (GREY-SILVER)
</div>
</div>
<div class="item">
<%= image_tag("MB-304 (LILAC).jpg") %>
<div class="carousel-caption">
MB-304 (LILAC)
</div>
</div>
<div class="item">
<%= image_tag("MB-304 (SILVER-SILVER).jpg") %>
<div class="carousel-caption">
MB-304 (SILVER-SILVER)
</div>
</div>
<div class="item">
<%= image_tag("MB-305 (BEIGE-TURQUOISE GREEN).jpg") %>
<div class="carousel-caption">
MB-305 (BEIGE-TURQUOISE GREEN)
</div>
</div>
<div class="item">
<%= image_tag("MB-306 (SILVER).jpg") %>
<div class="carousel-caption">
MB-306 (SILVER)
</div>
</div>
<div class="item">
<%= image_tag("MB-308 (GREY-ORANGE).jpg") %>
<div class="carousel-caption">
MB-308 (GREY-ORANGE)
</div>
</div>
</div>
</div>
<!-- Controls -->
<a class="left carousel-control" href="#myCarousel3" data-slide="prev">
<span class="icon-prev"></span>
</a>
<a class="right carousel-control" href="#myCarousel3" data-slide="next">
<span class="icon-next"></span>
</a>
</div>
</div>

      <!-------------------------------------------------/SLIDER------------------------------------------------------>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-------------------------------------------------/SLIDER------------------------------------------------------>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-------------------------------------------------------Modern------------------------------------------------>


<div class="modal fade" id="modern" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content " style="background-color:#3D3D3D;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Modern Collections</h4>
      </div>
      <div class="modal-body">
      <!------------------------------------------------SLIDER---------------------------------------------------------->

<div class="panel">
<div id="myCarousel4" class="carousel slide marketing" data-ride="carousel">
<!-- Wrapper for slides -->
<div class="carousel-inner">
<div class="item active">
<%= image_tag("BS-4 (LT.GREY).jpg") %>
<div class="carousel-caption">
BS-4 (LT.GREY)
</div>
</div>
<div class="item">
<%= image_tag("SM-1 (BEIGE-PURPLE).jpg") %>
<div class="carousel-caption">
SM-1 (BEIGE-PURPLE)
</div>
</div>
<div class="item">
<%= image_tag("SM-2 (SILVER-BLACK).jpg") %>
<div class="carousel-caption">
SM-2 (SILVER-BLACK)
</div>
</div>
<div class="item">
<%= image_tag("SM-3 (LT. BLUE-GREY).jpg") %>
<div class="carousel-caption">
SM-3 (LT. BLUE-GREY)
</div>
</div>
<div class="item">
<%= image_tag("SM-4 (BEIGE-GREY)).jpg") %>
<div class="carousel-caption">
SM-4 (BEIGE-GREY)
</div>
</div>
<div class="item">
<%= image_tag("WL-2A (RED).jpg") %>
<div class="carousel-caption">
WL-2A (RED)
</div>
</div>
<div class="item">
<%= image_tag("WL-2 (IVORY-BLUE).jpg") %>
<div class="carousel-caption">
WL-2 (IVORY-BLUE)
</div>
</div>
<div class="item">
<%= image_tag("WL-3 (GREY).jpg") %>
<div class="carousel-caption">
WL-3 (GREY)
</div>
</div>
<div class="item">
<%= image_tag("WL-4 (CAMEL).jpg") %>
<div class="carousel-caption">
WL-4 (CAMEL)
</div>
</div>
<div class="item">
<%= image_tag("WL-4 (D. BLUE).jpg") %>
<div class="carousel-caption">
WL-4 (D. BLUE)
</div>
</div>
<div class="item">
<%= image_tag("WL-4 (GREY).jpg") %>
<div class="carousel-caption">
WL-4 (GREY)
</div>
</div>
<div class="item">
<%= image_tag("WL-5 (BLUE).jpg") %>
<div class="carousel-caption">
WL-5 (BLUE)
</div>
</div>
<div class="item">
<%= image_tag("WL-6 (GREY-BLUE).jpg") %>
<div class="carousel-caption">
WL-6 (GREY-BLUE)
</div>
</div>
<div class="item">
<%= image_tag("WL-9 (D. BROWN).jpg") %>
<div class="carousel-caption">
WL-9 (D. BROWN)
</div>
</div>
<div class="item">
<%= image_tag("WL-11 (BEIGE).jpg") %>
<div class="carousel-caption">
WL-11 (BEIGE)
</div>
</div>
<div class="item">
<%= image_tag("WL-11 (BEIGE-MD. BLUE).jpg") %>
<div class="carousel-caption">
WL-11 (BEIGE-MD. BLUE)
</div>
</div>
<div class="item">
<%= image_tag("WL-11 (GREY).jpg") %>
<div class="carousel-caption">
WL-11 (GREY)
</div>
</div>
<div class="item">
<%= image_tag("WL-13 (GREY-MULTI).jpg") %>
<div class="carousel-caption">
WL-13 (GREY-MULTI)
</div>
</div>
</div>
</div>
<!-- Controls -->
<a class="left carousel-control" href="#myCarousel4" data-slide="prev">
<span class="icon-prev"></span>
</a>
<a class="right carousel-control" href="#myCarousel4" data-slide="next">
<span class="icon-next"></span>
</a>
</div>
</div>

      <!-------------------------------------------------/SLIDER------------------------------------------------------>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-------------------------------------------------------

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-------------------------------------------------------Silk Flower Collection------------------------------------------------>


<div class="modal fade" id="silk" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content " style="background-color:#3D3D3D;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Silk Flower Collection</h4>
      </div>
      <div class="modal-body">
      <!------------------------------------------------SLIDER---------------------------------------------------------->

<div class="panel">
<div id="myCarousel5" class="carousel slide marketing" data-ride="carousel">
<!-- Wrapper for slides -->
<div class="carousel-inner">
<div class="item active">
<%= image_tag("SF-11 (Green-Ivory).JPG") %>
<div class="carousel-caption">
SF-11 (Green-Ivory)
</div>
</div>
<div class="item">
<%= image_tag("SF-20 (Ivory-Gold).JPG") %>
<div class="carousel-caption">
SF-20 (Ivory-Gold)
</div>
</div>
<div class="item">
<%= image_tag("SF-121 (Black-Beige).JPG") %>
<div class="carousel-caption">
SF-121 (Black-Beige)
</div>
</div>
<div class="item">
<%= image_tag("SF-121 (Ivory-Black).JPG") %>
<div class="carousel-caption">
SF-121 (Ivory-Black)
</div>
</div>
<div class="item">
<%= image_tag("SF-121 (Ivory-Gold).JPG") %>
<div class="carousel-caption">
SF-121 (Ivory-Gold)
</div>
</div>
<div class="item">
<%= image_tag("SF-121 (Ivory-Lt.Green).JPG") %>
<div class="carousel-caption">
SF-121 (Ivory-Lt.Green)
</div>
</div>
<div class="item">
<%= image_tag("SF-121 (Lt.Blue-Ivory).JPG") %>
<div class="carousel-caption">
SF-121 (Lt.Blue-Ivory)
</div>
</div>
<div class="item">
<%= image_tag("SF-121 (Red-Beige).JPG") %>
<div class="carousel-caption">
SF-121 (Red-Beige)
</div>
</div>
<div class="item">
<%= image_tag("SF-122 (Ivory-Black).JPG") %>
<div class="carousel-caption">
SF-122 (Ivory-Black)
</div>
</div>
<div class="item">
<%= image_tag("SF-122 (Ivory-Brown).JPG") %>
<div class="carousel-caption">
SF-122 (Ivory-Brown)
</div>
</div>
<div class="item">
<%= image_tag("SF-122 (Ivory-Gold).JPG") %>
<div class="carousel-caption">
SF-122 (Ivory-Gold)
</div>
</div>
<div class="item">
<%= image_tag("SF-122 (Ivory-Ivory).JPG") %>
<div class="carousel-caption">
SF-122 (Ivory-Ivory)
</div>
</div>
<div class="item">
<%= image_tag("SF-122 (Ivory-Red).JPG") %>
<div class="carousel-caption">
SF-122 (Ivory-Red)
</div>
</div>
<div class="item">
<%= image_tag("WL-9 (D. BROWN).jpg") %>
<div class="carousel-caption">
WL-9 (D. BROWN)
</div>
</div>
<div class="item">
<%= image_tag("SF-122 (Rust-Ivory).JPG") %>
<div class="carousel-caption">
SF-122 (Rust-Ivory)
</div>
</div>
</div>
</div>
<!-- Controls -->
<a class="left carousel-control" href="#myCarousel5" data-slide="prev">
<span class="icon-prev"></span>
</a>
<a class="right carousel-control" href="#myCarousel5" data-slide="next">
<span class="icon-next"></span>
</a>
</div>
</div>

      <!-------------------------------------------------/SLIDER------------------------------------------------------>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</div>








