<% @title="Collection " %>
<div style="background-color:#3D3D3D;font-size:16px;text-align:left;font-family:helvetica, sans-serif;line-height:1;margin:1px;margin:1px;    	 	     padding-left:5%;padding-top:5%;padding-right:5%;padding-bottom:5%;">
          <div class="row text-center">
               <div class="col-md-4">
                    <a href="#" data-toggle="modal" data-target="#bamboo" data-toggle="tooltip" title="Bamboo Silk Collection">
                       <%= image_tag("bamboo.jpg",:size => "150x250",:alt => "Bamboo Silk Collection")%></a>

		<!-----Modal view for Bamboo ------->









		    <a href="#" data-toggle="modal" data-target="#flatweavecollection" data-toggle="tooltip" title="Flat Weave Collection">
                       <%=image_tag("flat.jpg",:size => "150x250",:alt => "Flat Weave Collection")%></a>
			
		<!-------- Modal view for Flat Weaver------>








                    <a href="#" data-toggle="modal" data-target="#mirabella" data-toggle="tooltip" title="Mirabella Collection" >
                       <%= image_tag("mirabela.jpg",:size => "150x250",:alt => "Mirabella Collection")%></a>

		<!-------- Modal view for Mirabella-------->



               </div>
          </div>
		<br>
          <div class="row text-center">
	       <div class="col-md-6">
		    <a href="#" data-toggle="modal" data-target="#modern" data-toggle="tooltip" title="Modern Collection" >
		       <%= image_tag("modern.jpg",:size => "150x250",:alt => "Modern Collection")%></a>

		<!----------- Modal view for Modern ------>






            	    <a href="#" data-toggle="modal" data-target="#silk" data-toggle="tooltip" title="Silk Flower Collection" >
                       <%= image_tag("silk.JPG",:size => "150x250",:alt => "Silk Flower Collection")%></a>  


		<!----------- Modal view for Silk-------->




	       </div>
	  </div>

</div>


<div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img data-src="holder.js/100%x180" alt="...">
    </a>
  </div>
  ...
</div>


