<% @title="Collections" %>
<div class="text-center">
<div style="background-color:#3D3D3D;line-height:1;margin:1px;margin:1px;padding-left:1%;padding-top:5%;padding-right:1%;padding-bottom:5%;">

<div class="row">
<div class="div">
    <a href="#" data-toggle="modal" data-target="#bamboo" data-toggle="tooltip" title="Bamboo Silk Collection">
      <%= image_tag("bamboo.jpg",:size => "160x250",:alt => "Bamboo Silk Collection")%>
    </a>
	<h6>Bamboo Silk Collection</h6>
</div> 
<!-----Modal view for Bamboo ------->
<div class="modal fade" id="bamboo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content"style="background-color:#3D3D3D;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Bamboo Silk Collection</h4>
      </div>
      <div class="modal-body">
<!-----------body------------------>
<div class="row" style="background-color:#3D3D3D;font-size:16px;text-align:justify;font-family:helvetica, sans-serif;line-height:1;margin:1px;margin:1px; padding-left:20%;padding-top:5%;padding-right:15%;padding-bottom:20%;">
        <div class="div1">
    <a href="#" data-toggle="modal" data-target="#bamboo1" data-toggle="tooltip" title="Bamboo Silk Collection|">
      <%= image_tag("SWL-8 (D. BLUE).jpg",:size => "80x125",:alt => "Bamboo Silk Collection")%>
    </a>
	<h6>SWL-8(D.BLUE)</h6>
       </div>
<div class="div1">
    <a href="#" data-toggle="modal" data-target="#bamboo1" data-toggle="tooltip" title="Bamboo Silk Collection|">
      <%= image_tag("WL-1 (BLUE).jpg",:size => "80x125",:alt => "Bamboo Silk Collection")%>
    </a>
	<h6>WL-1(BLUE)</h6>
       </div>
<div class="div1">
    <a href="#" data-toggle="modal" data-target="#bamboo1" data-toggle="tooltip" title="Bamboo Silk Collection|">
      <%= image_tag("WL-1 (CAMEL).jpg",:size => "80x125",:alt => "Bamboo Silk Collection")%>
    </a>
	<h6>WL-1(CAMEL)</h6>
       </div>
<div class="div1">
    <a href="#" data-toggle="modal" data-target="#bamboo1" data-toggle="tooltip" title="Bamboo Silk Collection|">
      <%= image_tag("SWL-7 (BROWN).jpg",:size => "80x125",:alt => "Bamboo Silk Collection")%>
    </a>
	<h6>SWL-7(BROWN)</h6>
       </div>
<div class="div1">
    <a href="#" data-toggle="modal" data-target="#bamboo1" data-toggle="tooltip" title="Bamboo Silk Collection|">
      <%= image_tag("SWL-3 (RED).jpg",:size => "80x125",:alt => "Bamboo Silk Collection")%>
    </a>
	<h6>SWL-3(RED).jpg</h6>
       </div>
<div class="div1">
    <a href="#" data-toggle="modal" data-target="#bamboo1" data-toggle="tooltip" title="Bamboo Silk Collection|">
      <%= image_tag("SWL-2 (MD. BLUE).jpg",:size => "80x125",:alt => "Bamboo Silk Collection")%>
    </a>
	<h6>SWL-2(MD.BLUE)</h6>
       </div>
<div class="div1">
    <a href="#" data-toggle="modal" data-target="#bamboo1" data-toggle="tooltip" title="Bamboo Silk Collection|">
      <%= image_tag("SWL-1 (IVORY).jpg",:size => "80x125",:alt => "Bamboo Silk Collection")%>
    </a>
	<h6>SWL-1(IVORY)</h6>
       </div>
<div class="div1">
    <a href="#" data-toggle="modal" data-target="#bamboo1" data-toggle="tooltip" title="Bamboo Silk Collection|">
      <%= image_tag("SWL-1D (RED).jpg",:size => "80x125",:alt => "Bamboo Silk Collection")%>
    </a>
	<h6>SWL-1D(RED)</h6>
       </div>
<div class="div1">
    <a href="#" data-toggle="modal" data-target="#bamboo1" data-toggle="tooltip" title="Bamboo Silk Collection|">
      <%= image_tag("SWL-1B (BLACK).jpg",:size => "80x125",:alt => "Bamboo Silk Collection")%>
    </a>
	<h6>SWL-1B(BLACK)</h6>
       </div>
<div class="div1">
    <a href="#" data-toggle="modal" data-target="#bamboo1" data-toggle="tooltip" title="Bamboo Silk Collection|">
      <%= image_tag("JN-2 (BEIGE).jpg",:size => "80x125",:alt => "Bamboo Silk Collection")%>
    </a>
	<h6>JN-2(BEIGE)</h6>
       </div>
<div class="div1">
    <a href="#" data-toggle="modal" data-target="#bamboo1" data-toggle="tooltip" title="Bamboo Silk Collection|">
      <%= image_tag("JN-1 (GREY).jpg",:size => "80x125",:alt => "Bamboo Silk Collection")%>
    </a>
	<h6>JN-1(GREY)</h6>
       </div>
<div class="div1">
    <a href="#" data-toggle="modal" data-target="#bamboo1" data-toggle="tooltip" title="Bamboo Silk Collection|">
      <%= image_tag("BS-5 (RED).jpg",:size => "80x125",:alt => "Bamboo Silk Collection")%>
    </a>
	<h6>BS-5(RED)</h6>
       </div>
<div class="div1">
    <a href="#" data-toggle="modal" data-target="#bamboo1" data-toggle="tooltip" title="Bamboo Silk Collection|">
      <%= image_tag("BS-5 (LT. BLUE).jpg",:size => "80x125",:alt => "Bamboo Silk Collection")%>
    </a>
	<h6>BS-5(LT.BLUE)</h6>
       </div>
<div class="div1">
    <a href="#" data-toggle="modal" data-target="#bamboo1" data-toggle="tooltip" title="Bamboo Silk Collection|">
      <%= image_tag("BS-5 (IVORY).jpg",:size => "80x125",:alt => "Bamboo Silk Collection")%>
    </a>
	<h6>BS-5(IVORY)</h6>
       </div>

<div class="div1">
    <a href="#" data-toggle="modal" data-target="#bamboo1" data-toggle="tooltip" title="Bamboo Silk Collection|">
      <%= image_tag("BS-5 (GREY).jpg",:size => "80x125",:alt => "Bamboo Silk Collection")%>
    </a>
	<h6>BS-5(GREY)</h6>
       </div>

<div class="div1">
    <a href="#" data-toggle="modal" data-target="#bamboo1" data-toggle="tooltip" title="Bamboo Silk Collection|">
      <%= image_tag("BS-3 (GREY).jpg",:size => "80x125",:alt => "Bamboo Silk Collection")%>
    </a>
	<h6>BS-3(GREY)</h6>
 </div>


</div>

<!---------------body-------------->




 

</div>
</div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-----Modal inception Bamboo------>
<div class="modal fade" id="bamboo1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content"style="background-color:#3D3D3D;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Bamboo Silk Collection</h4>
      </div>
      <div class="modal-body">
       ---soso--- 
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->





<div class="div"> 
    <a href="#" data-toggle="modal" data-target="#flatweavecollection" data-toggle="tooltip" title="Flat Weave Collection">
      <%=image_tag("flat.jpg",:size => "160x250",:alt => "Flat Weave Collection")%>
    </a>
	<h6>Flat Weave Collection</h6>
</div>

<!-------- Modal view for Flat Weaver------>


<div class="div">
    
    <a href="#" data-toggle="modal" data-target="#mirabella" data-toggle="tooltip" title="Mirabella Collection" >
      <%= image_tag("mirabela.jpg",:size => "160x250",:alt => "Mirabella Collection")%>
    </a>
	<h6>Mirabella Collection</h6>
</div>

<!-------- Modal view for Mirabella-------->



<div class="row">
<div class="div"style="line-height:1;margin:1px;margin:1px;padding-left:20%;padding-top:1%;padding-right:0%;padding-bottom:1%;float:left;">
	<a href="#" data-toggle="modal" data-target="#modern" data-toggle="tooltip" title="Modern Collection" >
      <%= image_tag("modern.jpg",:size => "160x250",:alt => "Modern Collection" )%>
    </a>
	<h6>Modern Collection</h6>
</div> 

<!----------- Modal view for Modern ------> 

<div class="div" style="line-height:1;margin:1px;margin:1px;padding-left:0%;padding-top:1%;padding-right:20%;padding-bottom:1%;float:right;">
    <a href="#" data-toggle="modal" data-target="#silk" data-toggle="tooltip" title="Silk Flower Collection" >
      <%= image_tag("silk.JPG",:size => "160x250",:alt => "Silk Flower Collection" )%>
    </a>
	<h6>Silk Flower Collection</h6>
</div>
<!----------- Modal view for Silk-------->





</div> 
</div> 
</div>



