<% @title="Home " %>
<!--slider-->
<div class="panel">
<div id="myCarousel" class="carousel slide marketing" data-ride="carousel">
<!-- Wrapper for slides -->
<div class="carousel-inner">
<div class="item active">
<%= image_tag("1.jpg") %>
<div class="carousel-caption">
<h2 style="text-shadow:1px 7px 1px #000000;">TITLE 1</h2>
<p style="text-shadow:1px 1px 2px rgba(10,10,10,1);background-color: rgba(32, 34, 33, 0.6);-moz-box-shadow:inset -2px 11px 9px #333133;-webkit-box-shadow:inset -2px 11px 9px #333133;box-shadow:inset -2px 11px 9px #333133;-moz-box-shadow: -2px 0px 7px #bdb7bd;-webkit-box-shadow: -2px 0px 7px #bdb7bd;box-shadow: -2px 0px 7px #bdb7bd;">
Lorem ipsum dolor sit amet, vix sint wisi paulo eu. Vis ei scripserit referrentur? Aeque quaerendum ei eam. Id usu dicant tractatos?
</p>
</div>
</div>
<div class="item">
<%= image_tag("2.jpg") %>
<div class="carousel-caption">
<h2 style="text-shadow:1px 7px 1px #000000;">TITLE 2</h2>
<p style="text-shadow:1px 1px 2px rgba(10,10,10,1);background-color: rgba(32, 34, 33, 0.6);-moz-box-shadow:inset -2px 11px 9px #333133;-webkit-box-shadow:inset -2px 11px 9px #333133;box-shadow:inset -2px 11px 9px #333133;-moz-box-shadow: -2px 0px 7px #bdb7bd;-webkit-box-shadow: -2px 0px 7px #bdb7bd;box-shadow: -2px 0px 7px #bdb7bd;">
Lorem ipsum dolor sit amet, mea brute munere iracundia ne? Erat praesent argumentum ea his. Eu dictas senserit qui, rebum graeco dicunt duo ex! Cetero sanctus assueverit ad est, autem vivendo sapientem no sea, qui purto elitr corpora ne! <a href="#"><i>Read more</i></a>
</p>
</div>
</div>
<div class="item">
<%= image_tag("3.jpg") %>
<div class="carousel-caption">
<h2 style="text-shadow:1px 7px 1px #000000;">TITLE 3</h2>
<p style="text-shadow:1px 1px 2px rgba(10,10,10,1);background-color: rgba(32, 34, 33, 0.6);-moz-box-shadow:inset -2px 11px 9px #333133;-webkit-box-shadow:inset -2px 11px 9px #333133;box-shadow:inset -2px 11px 9px #333133;-moz-box-shadow: -2px 0px 7px #bdb7bd;-webkit-box-shadow: -2px 0px 7px #bdb7bd;box-shadow: -2px 0px 7px #bdb7bd;">
Magna diceret platonem nec ea, sea accusam quaestio te, augue pertinax mediocritatem ius ne. In modus inciderint cum.
</p>
</div>
</div>
<div class="item">
<%= image_tag("4.jpg") %>
<div class="carousel-caption">
<h2 style="text-shadow:1px 7px 1px #000000;">TITLE 4</h2>
<p style="text-shadow:1px 1px 2px rgba(10,10,10,1);background-color: rgba(32, 34, 33, 0.6);-moz-box-shadow:inset -2px 11px 9px #333133;-webkit-box-shadow:inset -2px 11px 9px #333133;box-shadow:inset -2px 11px 9px #333133;-moz-box-shadow: -2px 0px 7px #bdb7bd;-webkit-box-shadow: -2px 0px 7px #bdb7bd;box-shadow: -2px 0px 7px #bdb7bd;">
Malis expetendis eam te, alii copiosae salutatus sed cu. No odio regione has, cu quando oblique luptatum qui.
</p>
</div>
</div>
<div class="item">
<%= image_tag("5.jpg") %>
<div class="carousel-caption">
<h2 style="text-shadow:1px 7px 1px #000000;">TITLE 5</h2>
<p style="text-shadow:1px 1px 2px rgba(10,10,10,1);background-color: rgba(32, 34, 33, 0.6);-moz-box-shadow:inset -2px 11px 9px #333133;-webkit-box-shadow:inset -2px 11px 9px #333133;box-shadow:inset -2px 11px 9px #333133;-moz-box-shadow: -2px 0px 7px #bdb7bd;-webkit-box-shadow: -2px 0px 7px #bdb7bd;box-shadow: -2px 0px 7px #bdb7bd;">
Consequuntur signiferumque ex sea, mel duis doctus similique eu. Ut eos eruditi hendrerit expetendis, pri cu mediocrem inciderint,
</p>
</div>
</div>
<div class="item">
<%= image_tag("6.jpg") %>
<div class="carousel-caption">
<h2 style="text-shadow:1px 7px 1px #000000;">TITLE 6</h2>
<p style="text-shadow:1px 1px 2px rgba(10,10,10,1);background-color: rgba(32, 34, 33, 0.6);-moz-box-shadow:inset -2px 11px 9px #333133;-webkit-box-shadow:inset -2px 11px 9px #333133;box-shadow:inset -2px 11px 9px #333133;-moz-box-shadow: -2px 0px 7px #bdb7bd;-webkit-box-shadow: -2px 0px 7px #bdb7bd;box-shadow: -2px 0px 7px #bdb7bd;">
His cu aeque singulis hendrerit, nam ex voluptua efficiantur ullamcorper. Pri invidunt sadipscing eu. Congue eruditi eloquentiam ut pro,
</p>
</div>
</div>
</div>
<!-- Controls -->
<a class="left carousel-control" href="#myCarousel" data-slide="prev">
<span class="icon-prev"></span>
</a>
<a class="right carousel-control" href="#myCarousel" data-slide="next">
<span class="icon-next"></span>
</a>
</div>
</div>
<!--/slider-->

