<!DOCTYPE html>
<html>
<head>
<title><%= @title %>|Rupesh kumar &amp; Sons.</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>
</head>
<body>
<div class="container">
<a href="http://www.domotex.de/exhibitor/rupesh-kumar-sons/D960003?source=akl" target="_blank" class="pull-right" style="padding-top:25px;"><h4 class="text-left pull-left">Hall no. 15 &nbsp;,<p class="text-left"><br>Stand C32/3 	&nbsp;</p></h4><%= image_tag("123.png",:size => "90x90",:alt => "Domotex Fair")%>
</a>
<!-- Navbar-->
<div class="masthead">
<h2 class="muted"><a href="http://rksbhadohi.herokuapp.com/"><%= image_tag("rksw1.png",:size => "115x60",:alt => "Rupesh kumar &amp; Sons.") %><h6 class="text-bottom"style="margin-left:0px;">Rupesh Kumar & Sons</h6></a></h2>
</div>
<header class="navbar navbar-inverse" role="banner" style="padding-top:-15px;margin-top:30px">
<div class="container">
<div class="navbar-header">
<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a href="http://rksbhadohi.herokuapp.com/" class="navbar-brand">
<strong>Home</strong></a>
</div>
<nav class="collapse navbar-collapse" style="align:center;" role="navigation">
<ul class="nav navbar-nav">
<li>
<%= link_to "about", {:action => "index", :class => "", :controller => "about", :anchor => "about" } do %>
<strong>| About Us</strong>
<% end %>
</li>
<li>
<%= link_to "collections", {:action => "index", :class => "", :controller => "collections", :anchor => "collections" } do %>
<strong> | Collections</strong>
<% end %>
</li>
<li>
<%= link_to "events", {:action => "index", :class => "", :controller => "events", :anchor => "events" } do %>
<strong> | Events</strong>
<% end %>
</li>
<li>
<%= link_to "contact", {:action => "index", :class => "", :controller => "contact", :anchor => "Contact Us" } do %>
<strong> | Contact Us</strong>
<% end %>
</li>
</ul>
</nav>
</div>
</header>
<!-- /Navbar-->
<!--main body-->

<%= yield %>

<!-- /main body-->
<!--footer-->
<div id="footer">
<p style="color:#ffffff; font-size:14px;" class="text-center">&copy; Rupesh kumar &amp; Sons <%=Time.now.year=%> | Designed by <%=link_to "Techoweb Enterprises Pvt. Ltd.", "http://www.techoweb.com", :confirm => "Do Visit this site again!"%></p> 
</div>
<!-- /footer-->
</div>
</body>
</html>
